@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    background: #0D0D10;
}

.logo-image img {
    height: 50px;
    width: auto;
    margin-left: 90px;
    margin-top: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-link {
    position: relative;
    display: flex;                   
    gap: 25px; 
    font-weight: 300;
    margin-right: 780px;
    text-decoration: none;
    margin-top: 60px;
    list-style: none;
    padding: 0;

}

.nav-link a {
    color: aliceblue;
    text-decoration: none;
}


.nav-link .search{
    background: rgb(46, 43, 43);
    border: none;
    border-radius: 15px;
    margin-left: 15px;
}

.menu li{
    margin: 50px 0px 0px;
    
}

.menu a{
    position: absolute;
    color: aliceblue;
    text-decoration: none;
    margin: 0px 60px ;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
}

.shop-logo {
    list-style: none;
}

 .shop-logo ul {
    margin: 2px ;
    margin-left: 0px;
    display: flex;
    gap: 15px;

}
.shop-logo li a{
    color: aliceblue;
    margin-right: 0px ;
} 



